@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(header.css);
:root{
    --gradient: linear-gradient(right, rgb(228, 75, 215), rgb(163, 96, 240));
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'poppins', sans-serif;
    font-size: 1.8rem;
}
.gradient{
    background-image: linear-gradient(to right, rgb(228, 75, 215), rgb(163, 96, 240));
    font-weight: 500;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    -webkit-background-clip: text;
}