@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Lato:wght@300;400;700;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url(header.css);
@import url(main.css);
:root{
    --color1: #986DFF;
    --color2: #8a58ff;
    --selection: #b08eff;
    --color3: #4a484b;
    --bg: #141414;
}
*{
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
}
body{
    font-family: 'poppins', sans-serif;
    font-size: 1.8rem;
    background-color: var(--bg);
    color: #fff;
}
.gradient{
    background: linear-gradient(to right, var(--color1), var(--color2) );
    font-weight: 600;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    -webkit-background-clip: text;
}
.gray{
    color: var(--color3);
}
.button1{
    padding: 15px 40px;
    background-color: var(--color1);
    border: none;
    color: #fff;
    font-family: 'poppins', sans-serif;
    font-size: 1.7rem;
    border-radius: 5px;
    margin: 20px 0;
    transition: 0.4s;
}
.button1:hover{
    background-color: #8860e4;
}